<%- include("header") -%>

<h2>This is the about page</h2>

<p> This a Todo list and was created as a project it uses Node.js, MongoDB, EJS & Express. 
    You can create new lists just by writing different names in the url section at the end of the url
    like /work, /home, /etc...and soo on for more information contact the developer. (ie ME!!!)
</p>

<%- include("footer") -%>
